<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title>John Jurow's Resume Site</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
    <script src="main.js" defer></script>
</head>

<body>
    <br>
    <button id="share-button">Share This</button>
    <br>
    <script>
        const shareButton = document.querySelector('#share-button');

        shareButton.addEventListener('click', event => {
            if (navigator.share) {
                navigator.share({
                    title: '<%= post.title %>',
                    url: 'https://www.simple.com/blog/<%= post.slug %>'
                }).then(() => {
                    console.log('Thanks for sharing!');
                })
                    .catch(console.error);
            } else {
                alert('Your Browser does not support Web Share API.');
            }
        });

    </script>
</body>

</html>